<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add connectionString="" name="myCon"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="SampleWCFService.EmpService" behaviorConfiguration="ykServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1234/YokogawaServices/"/>
          </baseAddresses> 
        </host>
        <endpoint address="" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="Employees" binding="basicHttpBinding" contract="SampleWCFService.IEmpService"/>
      </service>
    </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ykServiceBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>  
      </behaviors>
  </system.serviceModel> 
</configuration>
