<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="DataComponent" value ="SampleDataLib.DisconnectedDBComponent"/>
    <add key="branchFile" value="D:\Trainings\Yokogawa\VBTraining\SampleWinAppDay7\Utils\Branches.txt"/>
  </appSettings>
  <connectionStrings>
    <add connectionString ="Data Source=.\SQLEXPRESS;Initial Catalog=YokogawaTraining;Integrated Security=True" name ="myCon" />
  </connectionStrings>
</configuration>